<%= form_with url: search_projects_path, method: :get do |f| %>
<%= f.label :query, 'Pesquisar projeto:' %>
<%= f.text_field :query %>
<%= f.submit 'Buscar' %>
<%end%>

<% @proposals.each do |prop| %>
    <b><%=prop.reason %></b>
    <p>Expectativa: <%= prop.expectation %></p>
    <p <%= prop.hour_value %></p>
<% end %>

<% @projects.each do |projeto| %>
    <b><%= link_to projeto.title, project_path(projeto) %></b>
    <p>Descrição: <%= projeto.description %></p>
    <p>Habilidades: <%= projeto.skills %></p>
<% end %>