<%= form_with model: @prof_feedback, url: professional_feedbacks_path(user_id: fb.user.id,project_id: fb.id) do |f| %></p>
<p><%= f.label :opinion, "Insira o Feedback: " %>
<%= f.text_field :opinion %></p>
<% @prof_feedback.errors.full_messages_for(:opinion).each do |erro| %>
    <%= erro %>
<% end %>
<p><%= f.label :grade, "Nota: " %>
<%= f.text_field :grade %></p>
<% @prof_feedback.errors.full_messages_for(:grade).each do |erro| %>
    <%= erro %>
<% end %>
<%= f.submit 'Enviar' %></p>
<% end %><br>
