<% if user_signed_in?  %>
        <%= link_to 'Pospostas aceitas', accepted_projects_path(@project) %>
        <%= link_to 'Pospostas recusadas', '#' %>
        <%= link_to 'Visualizar time', '#' %>
    <% @proposals.each do |prop| %>
        <h4>Proposta de <%= link_to prop.professional.profile.social_name, profile_path(prop.professional.profile) %></h4>
        <h4>Propostas aceitas:</h4>
        <p>Motivo: <%= prop.project.title %></p>
        <p>Valor/hora: <%= number_to_currency(prop.hour_value) %></p>
        <p>Horas disponíveis por semana: <%= prop.hours_week %>
        <p>Expectativa: <%= prop.expectation %></p>
        <p><% if prop.status_proposal == 'not_rated'%>
              Status: Pendente</p>
           <% elsif prop.status_proposal == 'accepted' %>
              Status: Aceita</p>
          <% elsif prop.status_proposal == 'rejected' %>
              Status: Rejeitada</p>
          <% end %>
        <%= link_to 'Aceitar proposta', accept_proposal_path(prop.id), method: :post %>
        <%= form_with url: reject_proposal_path(prop.id), method: :post do |f| %>
            <%= f.label :justify, "Feedback" %>
            <%= f.text_field :justify %>
            <%= f.submit "Rejeitar proposta" %>
        <% end %>
    <% end %>
<% end %>