<h3>Aproveite para dar o feedback ao Contratador e ao Projeto</h3>
  <% @fb_user.each do |fb| %> 
    <p>Projeto <%= fb.title %> de <%= fb.user.email %><p> 
    <%= form_with model: @feedback, url: project_feedbacks_path(user_id: fb.user.id,project_id: fb.id) do |f| %></p>
      <%= f.hidden_field(:feedback_type, value: 'user_f') %>
      <p><%= f.label :opinion, "Contratador:" %>
      <%= f.text_field :opinion %></p>
      <% @project.errors.full_messages_for(:opinion).each do |erro| %>
        <%= erro %>
      <% end %>
      <p><%= f.label :nota, "Nota: " %>
      <%= f.text_field :nota %></p>
      <% @project.errors.full_messages_for(:nota).each do |erro| %>
        <%= erro %>
      <% end %>
      <%= f.submit 'Enviar' %></p>
    <% end %><br>
  <% end %>
  <% @fb_proj.each do |fb| %>  
    <p>Projeto <%= fb.title %> de <%= fb.user.email %><p>
    <%= form_with model: @feedback, url: project_feedbacks_path(user_id: fb.user.id,project_id: fb.id) do |f| %></p>
      <%= f.hidden_field(:feedback_type, value: 'project_f') %>
      <p><%= f.label :opinion, "Projeto: " %>
      <%= f.text_field :opinion %></p>
      <% @project.errors.full_messages_for(:opinion).each do |erro| %>
        <%= erro %>
      <% end %>
      <%= f.submit 'Enviar' %></p>
    <% end %><br>
  <% end %>
  
  