<h3>Aproveite para dar o feedback ao Contratador e ao Projeto</h3>
  <% @fb_user.each do |fb| %> 
    <p>Projeto <%= fb.title %> de <%= fb.user.email %><p> 
    <%= form_with model: @feedback, url: project_feedbacks_path(user_id: fb.user.id,project_id: fb.id) do |f| %></p>
      <%= f.hidden_field(:feedback_type, value: 'user_f') %>
      <p><%= f.label :feedback, "Feedback do Contratador: " %>
      <%= f.text_field :feedback %></p>
      <p><%= f.label :nota, "Nota: " %>
      <%= f.text_field :nota %></p>
      <%= f.submit 'Enviar' %></p>
    <% end %><br>
  <% end %>
  <% @fb_proj.each do |fb| %>  
    <p>Projeto <%= fb.title %> de <%= fb.user.email %><p>
    <%= form_with model: @feedback, url: project_feedbacks_path(user_id: fb.user.id,project_id: fb.id) do |f| %></p>
      <%= f.hidden_field(:feedback_type, value: 'project_f') %>
      <p><%= f.label :feedback, "Feedback do Projeto: " %>
      <%= f.text_field :feedback %></p>
      <%= f.submit 'Enviar' %></p>
    <% end %><br>
  <% end %>
  
  