<h3> Proposta para atuar no projeto<%= @proposal.project.title %></h3>
<p>Proposta de <%= @proposal.professional.profile.social_name %></p>
<p><%= @proposal.reason%></p>
<p>Valor/hora: <%=number_to_currency(@proposal.hour_value)%></p>
<p>Horas disponíveis: <%= @proposal.hours_week%></p>
<p><%= @proposal.expectation%></p>
<p><%= link_to 'Ver Projeto', @proposal.project %></p>
<p><%= link_to 'Ver Perfil', @proposal.professional.profile %></p>
