<!DOCTYPE html>
<html>
  <head>
    <title>Freelas</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if user_signed_in? %>
    <p><%= current_user.email %></p>
    <p><%= link_to 'Logout', destroy_user_session_path, method: :delete %></p>
    <%= link_to 'Meus Projetos', '#' %><br>
    <%= link_to 'Cadastrar Projeto', new_project_path %>
  <% elsif professional_signed_in? %>
    <p><%= current_professional.email %></p>
    <%= link_to 'Meu perfil', profile_path(current_professional) %>
    <p><%= link_to 'Logout', destroy_professional_session_path, method: :delete %></p>
    <p><%= link_to 'Meus Projetos', '#' %></p>
  <% else %>
    <p><%= link_to 'Entrar como contratador', new_user_session_path %></p>
    <p><%= link_to 'Entrar como profissional', new_professional_session_path %></p>
  <% end %>
  <h1> Freelas </h1>
  <h3> A melhor plataforma freelancer do Brasil </h3>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>  
    <%= yield %>
  </body>
</html>
