<!DOCTYPE html>
<html>
  <head>
    <title>Freelas</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if user_signed_in? %>
    <p><%= current_user.email %>
    <%= link_to 'Logout', destroy_user_session_path, method: :delete %></p>
    <h1> Freelas </h1>
    <h3> A melhor plataforma freelancer do Brasil </h3>
    <nav><%= link_to 'Meus Projetos', my_projects_projects_path %>
    <%= link_to 'Cadastrar Projeto', new_project_path %>
    <%= link_to 'Feedbacks', feedbacks_projects_path %></nav>
  <% elsif professional_signed_in? %>
    <p><%= current_professional.email %>
    <%= link_to 'Logout', destroy_professional_session_path, method: :delete %></p>
    <h1> Freelas </h1>
    <h3> A melhor plataforma freelancer do Brasil </h3>
    <nav class="navbar navbar-default"><%= link_to 'Meu perfil', profile_path(current_professional) %>
    <%= link_to 'Minhas Propostas', my_proposals_projects_path %>
    <%= link_to 'Feedbacks', feedbacks_projects_path %>
    <%= link_to 'Meus Projetos', my_projects_projects_path %></nav>
  <% else %>
    <p><%= link_to 'Entrar como contratador', new_user_session_path %></p>
    <p><%= link_to 'Entrar como profissional', new_professional_session_path %></p>
    <h1> Freelas </h1>
    <h3> A melhor plataforma freelancer do Brasil </h3>
  <% end %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p> 
    <%= yield %>
  </body>
</html>
